# Configuration file

##########################################################################################################
# enable
#--------------------------------------------------------------------------------------------------------#
# Enable or disable certain weapons
##########################################################################################################

enable {
    B:battleaxe.enabled=true
    B:blowgun.enabled=true
    B:blunderbuss.enabled=true
    B:boomerang.enabled=true
    B:cannon.enabled=true
    B:crossbow.enabled=true
    B:dummy.enabled=true
    B:dynamite.enabled=true
    B:firerod.enabled=true
    B:flail.enabled=true
    B:flintlock.enabled=true
    B:halberd.enabled=true
    B:javelin.enabled=true
    B:katana.enabled=true
    B:knife.enabled=true
    B:musket.enabled=true
    B:spear.enabled=true
    B:warhammer.enabled=true
}


id {

    items {
        I:battleaxe.diamond=7019
        I:battleaxe.gold=7018
        I:battleaxe.iron=7017
        I:battleaxe.stone=7016
        I:battleaxe.wood=7015
        I:blowgun=7044
        I:blunder-ironpart=7055
        I:blunderbuss=7054
        I:bolt=7043
        I:boomerang.diamond=7039
        I:boomerang.gold=7038
        I:boomerang.iron=7037
        I:boomerang.stone=7036
        I:boomerang.wood=7035
        I:bullet=7053
        I:cannon=7059
        I:cannonball=7060
        I:crossbow=7042
        I:dart=7045
        I:dummy=7061
        I:dynamite=7058
        I:firerod=7040
        I:flail.diamond=7029
        I:flail.gold=7028
        I:flail.iron=7027
        I:flail.stone=7026
        I:flail.wood=7025
        I:flintlock=7057
        I:gun-stock=7062
        I:halberd.diamond=7009
        I:halberd.gold=7008
        I:halberd.iron=7007
        I:halberd.stone=7006
        I:halberd.wood=7005
        I:javelin=7041
        I:katana.diamond=7034
        I:katana.gold=7033
        I:katana.iron=7032
        I:katana.stone=7031
        I:katana.wood=7030
        I:knife.diamond=7014
        I:knife.gold=7013
        I:knife.iron=7012
        I:knife.stone=7011
        I:knife.wood=7010
        I:musket=7046
        I:musket-ironpart=7047
        I:musketbayonet.diamond=7052
        I:musketbayonet.gold=7051
        I:musketbayonet.iron=7050
        I:musketbayonet.stone=7049
        I:musketbayonet.wood=7048
        I:shot=7056
        I:spear.diamond=7004
        I:spear.gold=7003
        I:spear.iron=7002
        I:spear.stone=7001
        I:spear.wood=7000
        I:warhammer.diamond=7024
        I:warhammer.gold=7023
        I:warhammer.iron=7022
        I:warhammer.stone=7021
        I:warhammer.wood=7020
    }

}


##########################################################################################################
# reloadtime
#--------------------------------------------------------------------------------------------------------#
# The reload durations of the reloadable weapons
##########################################################################################################

reloadtime {
    I:blowgun.reloadtime=10
    I:blunderbuss.reloadtime=20
    I:crossbow.reloadtime=15
    I:flintlock.reloadtime=15
    I:musket.reloadtime=30
}


##########################################################################################################
# settings
#--------------------------------------------------------------------------------------------------------#
# Miscellaneous mod settings
##########################################################################################################

settings {
    B:can-throw-knife=true
    B:can-throw-spear=true
    B:cannon-block-damage=true
    B:dynamite-block-damage=true

    # Change this to 'false' to allow only the thrower/shooter of the projectile to pick the item up. If set to 'true' everyone can pick the item up.
    B:pickup-all=true
}


